body {
    overflow-y: scroll;
    background-image: linear-gradient(to right, #666 0%, #222 5%, #222 95%, #666 100%);
}

.btn-season {
    margin: 0 2px;
    width: 44px;
}

.tab-content {
    padding: 0.5rem 0 0 0.5rem;
}

.clickable {
    cursor: pointer;
}

/* Loader */
.loader {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    animation: spin 6s linear infinite;
    border-top: 1rem solid white;
    border-right: 1rem solid lightblue;
    border-bottom: 1rem solid white;
    border-left: 1rem solid lightblue;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader__container {
    display: flex;
    justify-content: center;
    /* height: 4rem;
    align-items: flex-end; */
}